@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    font-size: 15px;

}

.container{
    max-width: 1030px;
    margin: 0 auto;
}
.wrapper{
    background-color: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    border-radius: 10px;
    margin: 2rem;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image{
    position: relative;
}

.image::after{
    position: absolute;
    height: 100%;
    width: 100%;
    content: ' ';
    left: 0;
    right: 0;
    background-color: hsl(277, 64%, 61%);
    opacity: 0.6;
}
.text-container{
    padding: 22px;
}
.title{
    color: white;
    font-weight: 700;
    padding: 22px;

}
.title span{
    color: hsl(277, 64%, 61%);
}
.subtitle{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.8;
    margin-left: 7px;
    align-content: center;
}
.box{
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    padding-top: 60px;
}
.box p.num{
    color: white;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 7px;
    
}
.box p{
    color: hsla(0, 0%, 100%, 0.6);
}
@media only screen and (max-width:457px) {
    body{
        text-align: center;
    }
    .wrapper{
        grid-template-columns: 1fr ;
    }
    .image{
        order: -1;
    }
    .text-container{
        padding:12% 8%
    }
    .box{
        flex-direction: column;
        padding-top: 30px;
    }
    .box div{
        margin-top: 20px;

    }
}